/* -----------------> font */

@import url('https://fonts.googleapis.com/css2?family=Itim&family=Sarabun:ital,wght@0,400;0,800;1,300&family=Sriracha&family=Srisakdi:wght@700&display=swap');
h1,
h2,
h3,
h4,
h5,
h6,
div,
a,
header,
span,
footer,
section {
    font-family: 'Sriracha', cursive;
}

*::selection {
    background: #ff4d4f;
    color: #fff;
}


/* navbar */

#navbar {
    background-color: rgba(108, 141, 248, 0.5);
}

#navbar .collapse li {
    padding: 0;
}

#navbar a {
    color: aliceblue;
}

#navbar li {
    margin: 0 10 0 10;
}

.slogan {
    margin: 70px;
}

#foot1 {
    border: 0;
    opacity: 30%;
    background-color: rgb(204, 230, 247);
}

#foot2 {
    background-color: rgba(202, 223, 236, 0.654);
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #cecefe;
}

::-webkit-scrollbar-thumb {
    background: #33a1f1;
    border-radius: 5px;
}